* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}

.title {
  padding: 20px;
}